body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5px;
}

main {
  max-width: 1770px;
  width: 100%;
  height: 100%;
}

/* Tablet*/
@media screen and (max-width: 768px) {
  main {
    margin: 15px;
  }
}

/* Mobile */
@media screen and (max-width: 320px) {
  main {
    margin: 10px;
  }
}
